
* {
	box-sizing: border-box;
}
body {
	background-color: #E5E7E9; 
	

}
	#benner{
	width: 100%;
	}
	#banner img {
				padding-left: 3px;
				padding-right: 3px;
				width: 100%;
				height: 200px;
}
div.wrap {
	margin-left: 64px;
	

}

div.gallery {
	display: inline-block;
		padding: 5px;
		border: solid 0px;
		max-width: 25%px;
		max-height: 200;
}

div.gallery:hover {
  				border: 0.1px solid #777;
			}
	a {
		text-transform: uppercase;
		font-size: 15px;
	}
 .footer {
		border: 1px solid grey;
		border-radius: 5px;
		width: 1200px;
		height: 200px;
			}

