
* {
	box-sizing: border-box;
}
body {
	background-color: #E5E7E9; 

}
	#benner{
	width: 100%;
	}
	#banner img {
				padding-left: 3px;
				padding-right: 3px;
				width: 100%;
				height: auto;
}

div.gallery {
		display: inline-block;
		padding: 0px;
		border: solid 0px;
		max-width: 25%;
		max-height: 200px;
}

div.gallery:hover {
  		border: 0.1px solid #777;
			}
	a {
		text-transform: uppercase;
		font-size: 15px;
	}
 

