<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/index.css")
    body
<!-- SP mới 2020 -->
        .mx-auto.p-1.bg-success.text-white.text-center(style='max-width: 350px; font-size: 30px; margin-top: 40px;') mẫu mới nhất hè 2020
            
            
section.container(style='margin-top: 30px')
    .row
      .col-m-3.p-3
        a(href='product.html')
         
        