extends template-part/layout.pug
block header
    title Home page
block content
    h1 Home page

    doctype html
html
  head
  body

  .banner img(src="img/banner.jpg", alt="banner_thoitrang")
    .p tara fashion
    .p Gợi ý cho bạn
    .container
      row