
div.head_menu {
	margin-left: 100px;
	width: 1200px;
	margin-top: 100px;


}


div.a {
	float: left;
	height: 25px;
	margin-left: 0px;
	font-size: 17px;
	padding: 15px;
	text-align: center;
	color: white;
	background-color: #2c3e50;
	text-transform: uppercase;
}
	 div.a:hover {
  border: 0.5px solid #777;

	 }	
	a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lightblue;
  background-color: transparent;
  text-decoration:unset;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
