*{
    box-sizing: border-box;
}
body{
    margin: auto;
    max-width: 1200px;
   
}
.container header{
    margin: auto;
    max-width: 1200px;
}
.container section{
    margin-left: 0px;

}
.menu ul li {
    float: left;
    padding: 30px 80px 0px 0px;
    margin: 0px;
	

}
ul { 
    list-style-type: none;
    margin: 0px;
}


.col-md-12{
    padding: 80px;
    font-family: Playfairdisplay-regular;
    height: 286px;
    background-color: #EAECEE;
    text-align: center;
    margin-left: -16px;

    

}
p{
    text-align: left;
    font-family: Playfairdisplay-regular;
    font-size: 18px;
}
h1{
    font-family: Playfairdisplay-regular;
    
}
h3 {
    font-family: Playfairdisplay-regular;
    font-size: 35px;
}
h4{
    color: #ABB2B9 ;
    font-size: 21px;
}
.container{
    justify-content: center;
}

.container-fluid{
    width: 100%;
    line-height: 1em;
    background-color: #EAECEE;
}