.container-fluid

    
        .img-banner
        .

        nav.main-menu
            ul.menu
                li.menu_item
                    .a trang chu
                li.menu_item
                    .a thoi trang nam
                li.menu_item
                    .a thoi trang nu
                li.menu_item
                    .a giay và phu kien
                 li.menu_item
                    .a bo suutap
                 li.menu_item
                    .a blog    
                li.menu_item
                    i.fa.fa-search
                li.menu_item
                    i.fa.fa-shopping-bag 
                li.menu_item 
                    i.fa.fa-heart-o                
