<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        block header
        title tara_fashion
    body
    include menu.pug
    include header.pug
    block content
    include footer.pug
   
        
        
