.navbar{
    text-transform: uppercase;
    background-color:rgb(43, 51, 126);
}

.top_menu{
    display: flex;
    max-width: 250px;
    justify-content: space-around;
    margin-left: 930px;
    border: solid 1px lightgrey;
    align-items: center;
}

body{
    margin: auto;
    max-width: 1400px;
}
.container{
    margin: auto;
    max-width: 1150px;
    
}

p{
    text-align: justify;
}
ul li a{
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}
li{
    list-style-type: none;
    line-height: 2rem;
}
ul{
    padding: 0px;
}
header{
    max-width: 1400px;
    background-image: url("../img/123.jpg");
    
    margin: auto;
}
.footer{
    margin-top: 2rem;
    background-color: rgb(17, 73, 70);
    justify-content: space-evenly;
    
}
.footer p a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.footer h5{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
   font-size: 1rem;

}
h5{
    color: white;
}
.icon{
        max-width: 150px;
        display: flex;
        border: 1px solid thistle;
        justify-content: space-around;
          
    
    }