.footer{
    margin-top: 2rem;
    background-color: rgb(17, 73, 70);
    justify-content: space-evenly;
    
}
.footer p a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 5px;
}
.footer h5{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
   font-size: 1rem;
   color: white;
}

.icon{
    max-width: 150px;
    display: flex;
    border: 1px solid thistle;
    justify-content: space-around;
      

}