
 ul li a{
     text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 700;
}

.top_menu{
    display: flex;
    max-width: 250px;
    justify-content: space-around;
    margin-left: 930px;
    border: solid 1px lightgrey;
    align-items: center;
}


body{
    margin: auto;
    max-width: 1400px;
}

.col-m-2{
    
    justify-content: center;
}
.col-m-6{
       padding: 1rem;
}


    




.btn{
    border-radius: 0%;
}
.hide_detail{
    font-family: roboto;
    font-size: 14px;
}
body{

    margin: auto;
    max-width: 1400px;
}
header{
    max-width: 1400px;
    background-image: url("../img/benner-nho.jpg");
    height: 422px;
    position: relative;
    margin: auto;
}
.logo{
    display: flex;
    max-width: 500px;
    height: auto;
    
    margin-left: 100px;
    align-items: center;
   margin-top: 230px;
    position: absolute;
   
}
.brand-name{
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;;
    text-transform: uppercase;
    font-weight: 550;
    
    color: white;
    white-space: normal;
    
    
 
}
.logo-wrap{
    padding: 30px;
    line-height: 0;
}
.slogan{
    color: white;
}
.top_menu{
    
   max-width: 300px;
    justify-content: space-evenly;  
    border: solid 1px lightgrey;
}

.footer{
    margin-top: 2rem;
    background-color: rgb(17, 73, 70);
    justify-content: space-evenly;
    
}
.nav-item-active a{
    color:green
      }
    
.footer p a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.footer h5{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
   font-size: 1rem;
   color: white;
}

.icon{
    max-width: 180px;
    display: flex;
    border: 1px solid thistle;
    justify-content: space-around;
      

}
span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    line-height: 10px;
}
.fixed-bottom{
    position: fixed;
     bottom: 50px; 
     right: 50px; 
     cursor: pointer; 
     transition: opacity 0.2s linear 0s, visibility; 
     opacity: 0.5; 
     visibility: visible;
    max-width: 50px;
    left: auto;
}
 img{
     max-width: fit-content;
 }
 #slider{
    margin: 0px auto;
    max-width: 100%;    
    
    border: 1px #c20b0b solid;
    position: relative;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55)


}
#prev{
    text-transform: uppercase;
    left: 30px;
    top: 300px;
    position: absolute;
}
#next{
    text-transform: uppercase;
    right: 30px;
    top: 300px;
    position: absolute;
}
img{
    max-width: 100%;
}
.thumb-1, .thumb-2, .thumb-3, .thumb-4{
    margin-bottom: 30px;
}
