body{

    margin: auto;
    max-width: 1400px;
    
}
header{
    max-width: 1400px;
    background-image: url("../img/modern-flowing-blue.jpg");
    height: 286px;
    margin: auto;

    
   
}

.logo{
   
    font-family: fantasy;
    font-size: 30px;
    margin-left: 80px;
    color: rgb(240, 242, 247);
    text-transform: uppercase;
    justify-content: center;
}
.navbar{
    text-transform: uppercase;
    background-color: rgb(43, 51, 126);
}

.container{
    max-width: 1130px;
   justify-content: center;
}
.btn{
    border-radius: 0%;
}

.top_menu{
    
    max-width: 20%;
    justify-content: space-around;
    margin-left: 970px;
    
    margin-top: 110px;
    border: solid 1px lightgrey;
    align-items: center;
    
    
}
.footer{
    margin-top: 2rem;
    background-color: rgb(17, 73, 70);
    justify-content: space-evenly;
    position: relative;
    
}
.footer p a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.footer h5{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
   font-size: 1rem;

}
h5{
    color: white;
}
.icon{
    max-width: 150px;
    display: flex;
    border: 1px solid thistle;
    justify-content: space-around;
      

}

.fixed {
    position: fixed;
    top: 100vh;
    margin-left: 1350px;
    max-width: 1400px;
 }
 span{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 14px;
     color: black;
     line-height: 10px;
 }